[user]
	name = cakemanny
	email = goldingd89@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[push]
	default = current
[pull]
	ff = only
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status -s
	unstage = restore --staged
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = master
